.adress {
  position: relative;
  margin-bottom: 39px;
}

.adress__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  width: 100%;

  // tablet adress text

  @media (min-width: 768px) {
    padding: 56px 70px 63px;
  }

  // descktop adress text

  @media (min-width: 1440px) {
    position: absolute;
    padding: 56px 60px 63px;
    z-index: 3;
    background-color: #ffffff;
    max-width: 585px;
    top: 95px;
    left: 110px;
  }
}

.adress__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  max-height: 60px;
  max-width: 139px;

  // tablet adress title

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }
}

.adress__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  max-height: 60px;
  max-width: 139px;

  // tablet adress description

  @media (min-width: 768px) {
    font-size: 16px;
    max-width: 160px;
    text-align: end;
    margin-bottom: 20px;
  }
}

// tablet adress description city

@media (min-width: 768px) {
  .adress__description-city {
    text-align: end;
  }
}

//map offline

.adress__map {
  position: relative;
  background-image: url("../img/adress/mobile/map@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 362px;
  z-index: -2;

  // adress map resolution 2ddpx

  @media (min-resolution: 2dppx) {
    background-image: url("../img/adress/mobile/map@2x.png");
  }
  // adress map resolution 3ddpx

  @media (min-resolution: 3dppx) {
    background-image: url("../img/adress/mobile/map@1x.webp");
  }
  // adress map resolution 4ddpx

  @media (min-resolution: 4dppx) {
    background-image: url("../img/adress/mobile/map@2x.webp");
  }

  //tablet map offline

  @media (min-width: 768px) {
    background-image: url("../img/adress/tablet/map-tablet@1x.png");
    height: 400px;

    // tablet adress map resolution 2ddpx

    @media (min-resolution: 2dppx) {
      background-image: url("../img/adress/tablet/map-tablet@2x.png");
    }
    // tablet adress map resolution 3ddpx

    @media (min-resolution: 3dppx) {
      background-image: url("../img/adress/tablet/map-tablet@1x.webp");
    }
    // tablet adress map resolution 4ddpx

    @media (min-resolution: 4dppx) {
      background-image: url("../img/adress/tablet/map-tablet@2x.webp");
    }
  }

  //descktop map offline

  @media (min-width: 1440px) {
    background-image: url("../img/adress/descktop/map-descktop.png");

    // descktop adress map resolution 2ddpx

    @media (min-resolution: 2dppx) {
      background-image: url("../img/adress/descktop/map-descktop@2x.png");
    }
    // descktop adress map resolution 3ddpx

    @media (min-resolution: 3dppx) {
      background-image: url("../img/adress/descktop/map-descktop@1x.webp");
    }
    // descktop adress map resolution 4ddpx

    @media (min-resolution: 4dppx) {
      background-image: url("../img/adress/descktop/map-descktop@2x.webp");
    }
  }
}

.adress__pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -79%);
  z-index: -1;

  //tablet adress pointer

  @media (min-width: 768px) {
    width: 113px;
    height: 106px;
    transform: translate(-45%, -51%);
  }

  //descktop adress pointer

  @media (min-width: 1440px) {
    transform: translate(162%, -69%);
  }
}

.adress__map-link {
  width: 100%;
  z-index: 1;
}
