// fonts

$ff-second: "Oswald", "Arial", sans-serif;

// viev ports

$vp-mobile: 320px;
$vp-tablet: 768px;
$vp-descktop: 1440px;

//default
//fonts famaly
$ff-default: "Lato", "Arial", sans-serif;
$fs-default: normal;
$fsize-default: 16px;
$flh-default: 24px;
$fw-default: 400;

//colors
$color-default-black: #000000;
$color-default-white: #ffffff;

// project colors
$color-gainsboro: #d9d9d9;
$color-asparagus: #77ac56;
$color-apple: #68b738;
$color-white-smoke: #f2f2f2;
$color-whisper: #eaeaea;
$color-whisper-light: #e6e6e6;
$color-very-light-grey: #cdcdcd;
$color-dim-gray: #666666;
$color-charcoal: #444444;
$color-nero: #222222;
$color-light-coral: #ff8282;
$color-limeade: #5eaa2f;
