@media (min-width: $vp-1024) {
  .additional__block-wrapper {
    position: relative;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 86px;
  }
}

.additional {
  position: relative;
  margin-bottom: 54px;

  //tablet

  @media (min-width: $vp-768) {
    margin-bottom: 69px;
  }

  //descktop

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}

.additional__wrapper {
  position: relative;

  //descktop

  @media (min-width: $vp-1024) {
    padding: 0;
  }
}

// additional title green lines

.additional::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 20px;
  top: 15px;
  border: 2px solid #68b738;
  z-index: -1;

  //tablet

  @media (min-width: $vp-768) {
    left: 0;
    top: 20px;
  }

  //descktop

  @media (min-width: $vp-1024) {
    content: none;
  }
}

//mobile additional  lines

.additional__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: -81px;
  margin: 0 auto;
  border: 1px solid $color-gainsboro;

  //tablet

  @media (min-width: $vp-768) {
    content: none;
  }
}

// additional title

.additional__title {
  position: relative;
  margin-bottom: 36px;
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 24px;
  line-height: 24px;
  text-align: start;
  color: $color-default-black;
  background-color: $color-default-white;
  z-index: 2;
  max-width: 247px;
  margin-left: 20px;

  //tablet

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 100%;
    max-width: 410px;
    margin-left: 67px;
    text-align: center;
    margin-bottom: 80px;
  }
}

//tablet additional list

@media (min-width: $vp-768) {
  .additional__list {
    border: 1px solid $color-very-light-grey;
  }
}

//descktop additional list

@media (min-width: $vp-1024) {
  .additional__list {
    border: none;
  }
}

// additional item

.additional__item {
  position: relative;
  padding-top: 13px;
  margin-bottom: 19px;

  //tablet

  @media (min-width: $vp-768) {
    padding: 26px 38px 28px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  //descktop

  @media (min-width: $vp-1024) {
    align-items: center;
    padding: 15px 0 17px;
  }
}

@media (min-width: $vp-1024) {
  .additional__item:nth-child(1) {
    border-top: 2px solid $color-very-light-grey;
  }
}

//mobile additional list lines

.additional__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  border: 1px solid $color-gainsboro;

  //tablet

  @media (min-width: $vp-768) {
    width: 100%;
    left: 0;
  }
}

//tablet

@media (min-width: $vp-768) {
  .additional__item:nth-child(1)::before {
    content: none;
  }
}

@media (min-width: $vp-1024) {
  .additional__item:last-child::after {
    content: "";
    position: absolute;
    width: 895px;
    height: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    border: 1px solid $color-gainsboro;
  }
}

// additional item title

.additional__item-title {
  margin-bottom: 13px;
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: $fsize-default-16;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-nero;

  //tablet

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }

  //descktop

  @media (min-width: $vp-1024) {
    margin: 0;
    min-width: 161px;
    margin-right: 164px;
  }
}

// additional goods wrapper

.additional__goods-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  //descktop additional goods wrapper

  @media (min-width: $vp-1024) {
    margin: 0;
    min-width: 285px;
    margin-right: 40px;
  }
}

// additional goods

.additional__item-coast {
  font-family: $ff-lato;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 14px;
  color: $color-charcoal;

  //tablet

  @media (min-width: $vp-768) {
    margin-right: 49px;
    font-size: $fsize-default-16;
    line-height: 20px;
  }

  //desctop

  @media (min-width: $vp-1024) {
    margin: 0;
    text-align: start;
  }
}

.additional__item-coast-unit {
  font-family: $ff-lato;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 14px;
  color: $color-charcoal;

  //tablet button

  @media (min-width: $vp-768) {
    font-size: $fsize-default-16;
    line-height: 20px;
  }
}

// additional item button

.additional__item-button {
  width: 100%;

  //tablet button

  @media (min-width: $vp-768) {
    min-width: 100%;
    font-size: $fsize-default-16;
  }

  //descktop button

  @media (min-width: $vp-1024) {
    width: 244px;
    min-width: unset;
  }
}
