.adress {
  position: relative;
}

.adress__wrapper {
  @media (min-width: $vp-1024) {
    max-width: 1220px;
    min-height: 400px;
    margin: 0 auto;
    padding: 91px 0 107px;
  }
}

.adress__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  // tablet adress text

  @media (min-width: $vp-768) {
    padding: 56px 40px;
    max-width: 1220px;
    margin: 0 auto;
  }

  // descktop adress text

  @media (min-width: $vp-1024) {
    padding: 56px 60px 63px 60px;
    z-index: 3;
    background-color: $color-default-white;
    max-width: 585px;
    margin-left: 0;
    align-items: unset;
  }
}

// catalog adress  text

.adress__text--darck {
  background-color: $color-white-smoke;
}

.adress__title {
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: $fsize-default-16;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  max-width: 139px;

  // tablet adress title

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 26px;
    max-width: 180px;
  }
}

.adress__description {
  font-family: $ff-lato;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 20px;
  color: $color-charcoal;
  max-height: 60px;
  max-width: 139px;

  // tablet adress description

  @media (min-width: $vp-768) {
    font-size: $fsize-default-16;
    max-width: 160px;
    text-align: end;
    margin-bottom: 20px;
  }
}

// tablet adress description city

@media (min-width: $vp-768) {
  .adress__description-city {
    text-align: end;
  }
}

// adress map

.adress__map {
  position: relative;
  width: 100%;
  height: 362px;

  //descktop

  @media (min-width: $vp-1024) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.adress__pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -79%);
  z-index: 0;

  //tablet

  @media (min-width: $vp-768) {
    width: 113px;
    height: 106px;
    transform: translate(-45%, -51%);
  }
}

// adress map ofline

.adress__map-offline {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.adress__map-link {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  //descktop

  @media (min-width: $vp-1024) {
    min-height: 400px;
  }
}
