// catalog

.catalog {
  padding-top: 27px;

  @media (min-width: $vp-768) {
    padding-top: 65px;
    margin-bottom: 425px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 120px;
    padding-top: 88px;
  }
}

// catalog title

.catalog__title {
  position: relative;

  font-family: $ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-black;

  margin-bottom: 60px;
  text-align: center;
  margin-right: 30px;

  &::before {
    position: absolute;
    content: "";
    top: -20px;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 1px;
    background-color: $color-whisper-light;
    overflow: hidden;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 1px;
    background-color: $color-whisper-light;
    overflow: hidden;
  }

  @media (min-width: $vp-768) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-left: 30px;
    margin-bottom: 90px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: $vp-1024) {
    margin-left: 110px;
  }
}

// catalog cards list

.catalog__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);

  max-width: 500px;
  align-items: center;
  margin: 0 auto;

  // tablet

  @media (min-width: $vp-768) {
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
    max-width: unset;
  }

  // descktop

  @media (min-width: $vp-1024) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// catalog card

.catalog__item {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "image text"
    "button button";

  margin-bottom: 44px;

  &::before {
    position: absolute;
    content: "";
    bottom: -30px;
    left: -150px;
    width: 100vh;
    height: 1px;
    background-color: $color-whisper-light;
    overflow: hidden;
  }

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text"
      "button";

    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: calc(100% - 81px);
      background-color: $color-white-smoke;
    }

    padding: 0 12% 12%;
  }
}

// catalog card img

.catalog__card-img {
  grid-area: image;

  @media (min-width: $vp-768) {
    display: block;
    width: 100%;
  }
}

// catalog img link

.catalog__card-img-link {
  text-align: center;
  align-self: center;

  @media (min-width: $vp-768) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;

    margin-bottom: 28px;
  }
}

// card title

.catalog__card-title {
  font-family: $ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: $fsize-default-16;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-nero;

  display: block;
  text-align: start;
  max-width: 76px;
  margin-bottom: 14px;

  // tablet

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: $flh-default-24;
    max-width: 147px;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 21px;
  }

  // descktop

  @media (min-width: $vp-1024) {
    line-height: 21px;
  }
}

// card description

.catalog__card-description-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    border-bottom: 1px solid $color-very-light-grey;

    margin-bottom: 16px;
  }
}

// card features text

.catalog__card-item-features,
.catalog__card-item-meaning {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: $fsize-default-16;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}

// card content wrapper

.catalog__card-content-wrapper {
  grid-area: text;
  margin-bottom: 22px;

  @media (min-width: $vp-768) {
    margin-bottom: 33px;
  }
}

// catalog card button

.catalog__card-button {
  grid-area: button;
  width: 100%;

  @media (min-width: $vp-768) {
    font-size: $fsize-default-16;
    line-height: 20px;
  }
}

// last card more product

.catalog__item--more-products {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 70px;

  @media (min-width: $vp-768) {
    margin-top: 81px;
    padding: 161px 37px 12% 12%;
    border: 2px solid $color-white-smoke;
    background-color: transparent;

    &::before {
      background-color: transparent;
    }
  }
}

.catalog__item-last-link {
  display: block;
  width: 100%;
}

.catalog__item-last-img {
  position: relative;
  left: 50%;

  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    transform: translateX(-50%);

    @media (min-width: $vp-768) {
      height: 60px;
      top: -100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    transform: translateX(-50%) rotate(90deg);

    @media (min-width: $vp-768) {
      height: 60px;
      top: -100px;
    }
  }
}

.catalog__item--more-products .catalog__card-title {
  font-family: $ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: $fsize-default-16;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-default-black;

  max-width: unset;
  margin-bottom: 8px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 23px;

    max-width: 134px;
  }
}

.catalog__card-more-description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-charcoal;

  text-align: center;

  margin-bottom: 21px;

  @media (min-width: $vp-768) {
    font-size: $fsize-default-16;
    line-height: 18px;

    margin-bottom: 87px;

    max-width: 165px;
  }
}

// last card more button

.catalog__card-more-button {
  font-weight: 400;
  font-size: $fsize-default-16;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-charcoal;
  text-transform: uppercase;

  display: block;
  padding: 10px;
  width: 100%;

  background-color: $color-white-smoke;
}

// card more button condition

.catalog__card-more-button:hover {
  background-color: $color-whisper-light;
}

.catalog__card-more-button:active {
  color: $color-default-black;
  opacity: 0.3;
}

// card title condition

.catalog__card-title:hover {
  opacity: 0.8;
}

.catalog__card-title:active {
  opacity: 0.5;
}
