//explanation section

.explanation {
  margin-bottom: 49px;

  //tablet

  @media (min-width: $vp-768) {
    position: relative;
    min-height: 700px;
    margin-bottom: 69px;

    &::before {
      position: absolute;
      content: "";
      border: 1px solid $color-whisper-light;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
  //descktop explanation section

  @media (min-width: $vp-1024) {
    min-height: unset;
    margin-bottom: 69px;

    &::before {
      content: none;
    }
  }
}

//explanation title

.explanation__title {
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $color-default-black;
  margin-bottom: 42px;
  margin-right: 54px;

  // tablet explanation title

  @media (min-width: $vp-768) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }
}

//explanation list

.explanation__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 323px;

  //tablet explanation list

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 22%;
    row-gap: 32%;
    max-width: 1023px;
  }

  //desctop explanation list

  @media (min-width: $vp-1024) {
    display: flex;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
    max-width: 1220px;
  }
}

//explanation list item

.explanation__list-item {
  display: flex;
  min-width: 280px;
  margin-bottom: 20px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  // tablet explanation list item

  @media (min-width: $vp-768) {
    position: relative;
    display: grid;
    grid-template-areas:
      "explanation-img"
      "explanation-text";
    min-width: 230px;
    margin-bottom: 0;
  }

  //descktop explanation list item

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

//explanation list item number

@media (min-width: $vp-768) {
  .explanation__list-item-one::before {
    position: absolute;
    content: url("../img/explanation/explanation-1.png");
    right: 40px;
    top: 0;
    z-index: -1;
  }

  .explanation__list-item-two::before {
    position: absolute;
    content: url("../img/explanation/explanation-2.png");
    right: 0;
    top: 0;
  }

  .explanation__list-item-three::before {
    position: absolute;
    content: url("../img/explanation/explanation-3.png");
    right: 0;
    top: 0;
  }

  .explanation__list-item-four::before {
    position: absolute;
    content: url("../img/explanation/explanation-4.png");
    right: 0;
    top: 0;
  }
}

//explanation image

.explanation__img {
  display: block;
  margin-right: 20px;
  min-width: 60px;

  //tablet explanation image

  @media (min-width: $vp-768) {
    margin-right: 0;
    width: 80px;
    height: 80px;
    grid-area: explanation-img;
    margin-bottom: 31px;
  }

  //descktop explanation image

  @media (min-width: $vp-1024) {
    margin-bottom: 31px;
  }
}
//explanation list text

.explanation__list-text {
  font-family: $ff-lato;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;

  //tablet explanation list text

  @media (min-width: $vp-768) {
    font-size: $fsize-default-16;
    line-height: $flh-default-24;
    max-width: 230px;
    grid-area: explanation-text;
    z-index: 1;
  }

  //descktop explanation list text

  @media (min-width: $vp-1024) {
    margin-top: 0;
  }
}
