//explanation section

.explanation {
  margin-bottom: 49px;

  //explanation section next resposive

  @media (min-width: 321px) and (max-width: 1439px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  //descktop explanation section

  @media (min-width: $vp-1024) {
    margin-bottom: 69px;
  }
}

//explanation title

.explanation__title {
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
  color: $color-default-black;
  margin-bottom: 42px;

  //explanation title next resposive

  @media (min-width: 321px) and (max-width: 1439px) {
    text-align: center;
  }

  // tablet explanation title

  @media (min-width: $vp-768) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

//explanation list

.explanation__list {
  list-style: none;

  //tablet explanation list

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 23%;
    row-gap: 5%;
  }

  //desctop explanation list

  @media (min-width: $vp-1024) {
    display: flex;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }
}

//explanation list item

.explanation__list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  // tablet explanation list item
  @media (min-width: $vp-768) {
    min-height: 280px;
  }

  //descktop explanation list item

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

//explanation list item number

@media (min-width: $vp-768) {
  .explanation__list-item-one {
    background-image: url("../img/explanation/explanation-1.png");
    background-repeat: no-repeat;
    background-size: 78px 236px;
    background-position: top 51px right 42px;

    //descktop list item number

    @media (min-width: $vp-1024) {
      background-position: top right 42px;
    }
  }

  .explanation__list-item-two {
    background-image: url("/../img/explanation/explanation-2.png");
    background-repeat: no-repeat;
    background-size: 107px 237px;
    background-position: top 44px right 15px;

    //descktop list item number

    @media (min-width: $vp-1024) {
      background-position: top right 15px;
    }
  }

  .explanation__list-item-three {
    background-image: url("../img/explanation/explanation-3.png");
    background-repeat: no-repeat;
    background-size: 104px 229px;
    background-position: top 47px right 15px;

    //descktop list item number

    @media (min-width: $vp-1024) {
      background-position: top right 15px;
    }
  }

  .explanation__list-item-four {
    background-image: url("../img/explanation/explanation-4.png");
    background-repeat: no-repeat;
    background-size: 127px 248px;
    background-position: top 48px right -8px;

    //descktop list item number

    @media (min-width: $vp-1024) {
      background-position: top right -8px;
    }
  }
}
//explanation image

.explanation__img {
  margin-right: 20px;

  //tablet explanation image

  @media (min-width: $vp-768) {
    margin-right: 0;
    width: 80px;
    height: 80px;
  }

  //descktop explanation image

  @media (min-width: $vp-1024) {
    margin-bottom: 31px;
  }
}
//explanation list text

.explanation__list-text {
  font-family: $ff-lato;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;
  max-width: 179px;

  //tablet explanation list text

  @media (min-width: $vp-768) {
    font-size: $fsize-default-16;
    line-height: $flh-default-24;
    max-width: 245px;
    margin-top: -75px;
  }

  //descktop explanation list text

  @media (min-width: $vp-1024) {
    margin-top: 0;
  }
}
