.additional__gift {
  position: relative;
  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/catalog/gift/mobile/bagpuck-@1x.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  color: $color-default-black;

  padding-top: 300px;
  margin: 20px auto;

  // gift image bacground resolution 2ddpx

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/catalog/gift/mobile/bagpuck-@2x.png");
  }

  //tablet

  @media (min-width: $vp-768) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/catalog/gift/tablet/bugpuck-tablet-@1x.png");
    background-size: 100% 200px;

    padding-top: 200px;
    margin: 0;
    margin-bottom: 76px;

    // gift image bacground resolution 2ddpx

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/catalog/gift/tablet/bugpuck-tablet-@2x.png");
    }
  }

  // descktop

  @media (min-width: $vp-1024) {
    position: relative;

    margin: 0;
    height: 292px;

    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/catalog/gift/mobile/bagpuck-@1x.png");
    background-size: 100% 289px;
    background-position: center top;
    background-repeat: no-repeat;

    color: $color-default-black;

    width: 100%;

    // gift image bacground resolution 2ddpx

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/catalog/gift/mobile/bagpuck-@2x.png");
    }
  }
}
