.header__container {
  // promo descktop image bacground

  @media (min-width: $vp-1440) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/promo/descktop/index-background-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: calc(100% + 70px) 0;
    background-size: 780px 694px;
    margin-bottom: 82px;

    // promo descktop image bacground resolution 2ddpx

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/promo/descktop/index-background-desktop@2x.png");
    }

    // promo descktop image bacground resolution 3ddpx

    @media (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to top,
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/promo/descktop/index-background-desktop@2x.webp");
    }

    // promo descktop image bacground resolution 4ddpx

    @media (min-resolution: 4dppx) {
      background-image: linear-gradient(
          to top,
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/promo/descktop/index-background-desktop@2x.webp");
    }
  }
}

.header {
  display: block;
  position: relative;
  background-color: $color-default-white;
  padding-top: 10px;
  padding-bottom: 10px;

  //tablet header

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
  }

  //descktop header

  @media (min-width: $vp-1440) {
    z-index: 1;
    background-color: transparent;
    padding-top: 53px;
    margin-right: 110px;
    margin-left: 110px;
  }
}

// header catalog

.header__catalog {
  padding-bottom: 27px;
}

//header wrapper

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20px;
  justify-content: space-between;
}

// header logo

.header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 20px;

  //tablet logo wrapper

  @media (min-width: $vp-768) {
    margin: 0;
    margin-left: 30px;
  }

  //descktop logo wrapper

  @media (min-width: $vp-1440) {
    margin-left: 0;
  }
}

//condition logo

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.header__logo-text:hover {
  opacity: 0.8;
}

.header__logo-text:active {
  opacity: 0.3;
}

// mobile second logo text

.header__logo-link-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% + 51px);
}

@media (min-width: $vp-768) {
  .header__logo-text {
    display: none;
  }
}

//header nav drop menu list

.header__nav {
  height: 0;
  opacity: 0;
  transition: height 0.5s, opacity 0.2s;

  @media (min-width: $vp-768) {
    height: auto;
    opacity: 1;
  }

  //descktop header nav

  @media (min-width: $vp-768) {
    max-width: 600px;
  }
}

.header--drop-menu {
  height: 197px;
  opacity: 1;
  transition: height 0.5s, opacity 1s;
}

//header menu no js

.header__nav--no-js {
  height: 216px;
  opacity: 1;
  transition: height 0.5s, opacity 1s;
}

//header button menu

.header__button {
  display: block;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

//geader button withaut JS

.header__button--no-js {
  visibility: hidden;
}

//header buton dinamic decorate line

.header__button-line {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  font-size: 0;
  color: transparent;
  background: #111111;
  transition: 0.3s;
}

.header__button-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 2px;
  background: #111111;
  transform-origin: 50% 50%;
  transition: 0.3s 0.3s, transform 0.3s;
}

.header__button-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  background: #111111;
  transform-origin: 50% 50%;
  transition: 0.3s 0.3s, transform 0.3s;
}

// header button condition

.header__button--active {
  background-color: transparent;
}

.header__button--active .header__button-line {
  background-color: transparent;
}

.header__button--active .header__button-line::before {
  transform: rotate3d(0, 0, 1, (-45deg));
  transition: 0.3s, transform 0.3s 0.3s;
  top: 0;
}

.header__button--active .header__button-line::after {
  transform: rotate3d(0, 0, 1, 45deg);
  transition: 0.3s, transform 0.3s 0.3s;
  top: 0;
}
