.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  //tablet menu

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    min-width: 450px;
  }

  //descktop menu

  @media (min-width: $vp-1024) {
    min-width: 480px;
  }
}

//menu list

.menu__list {
  position: relative;

  //tablet menu list

  @media (min-width: $vp-768) {
    padding: 0;
    margin: 0;
    border: none;
  }

  //descktop menu list

  @media (min-width: $vp-1024) {
    background-color: transparent;
  }
}

//menu list current

@media (min-width: $vp-768) {
  .menu__list--curent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: $color-apple;

    // descktop list current

    @media (min-width: $vp-1024) {
      background-color: $color-default-white;
    }
  }
}

//descktop menu catalog current list

@media (min-width: $vp-1024) {
  .menu__catalog .menu__list--curent::after {
    background-color: $color-apple;
  }
}

//condition menu list

.menu__list:hover {
  background-color: $color-asparagus;

  //tablet menu list condition

  @media (min-width: $vp-768) {
    background-color: transparent;
    opacity: 0.8;
  }
}

.menu__list:active .menu__list-item {
  background-color: $color-asparagus;
  color: $color-default-white;

  //tablet menu list condition

  @media (min-width: $vp-768) {
    background-color: transparent;
    color: $color-default-black;
    opacity: 0.3;
  }
}

.menu__list-item {
  display: block;
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-default-black;
  padding: 25px 0;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #e6e6e6;

  //tablet menu list item

  @media (min-width: $vp-768) {
    font-family: $ff-oswald;
    font-style: $fs-normal;
    font-weight: $fw-400;
    font-size: 18px;
    line-height: $flh-default-24;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
  }

  //descktop menu list item

  @media (min-width: $vp-1024) {
    background-color: transparent;
    font-weight: $fw-400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: $color-default-white;
  }
}

// catalog desktop menu list item

@media (min-width: $vp-1024) {
  .menu__list-item--black {
    color: $color-nero-black;
  }
}

.menu--no-js {
  display: block;
}
