// promo image bacground

.promo {
  position: relative;
  padding-top: 26px;
  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/promo/mobile/index-background-mobile@1x.png");
  background-size: 100% 305px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  color: $color-default-black;

  // promo image bacground resolution 2ddpx

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/promo/mobile/index-background-mobile@2x.png");
  }
  // promo image bacground resolution 3ddpx

  @media (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/promo/mobile/index-background-mobile@1x.webp");
  }
  // promo image bacground resolution 4ddpx

  @media (min-resolution: 4dppx) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/promo/mobile/index-background-mobile@2x.webp");
  }

  //promo tablet product image

  @media (min-width: $vp-768) {
    background-image: url("../img/promo/tablet/index-can-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 677px 555px;
    background-position: 67px 259px;
    padding-top: 62px;
    padding-bottom: 530px;
    margin-bottom: 0;

    // resolution 2ddpx

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/tablet/index-can-tablet@2x.png");
    }

    // resolution 3ddpx

    @media (min-resolution: 3dppx) {
      background-image: url("../img/promo/tablet/index-can-tablet@2x.webp");
    }
    // resolution 4ddpx

    @media (min-resolution: 4dppx) {
      background-image: url("../img/promo/tablet/index-can-tablet@2x.webp");
    }
  }

  //descktop promo

  @media (min-width: $vp-1024) {
    padding-bottom: 270px;
    padding-left: 150px;
    background-size: 552px 499px;
    background-position: 556px 30px;
  }
}

//promo tablet content

@media (min-width: $vp-768) {
  .promo__content {
    margin-left: 88px;

    //descktop promo content

    @media (min-width: $vp-1024) {
      margin: 0;
    }
  }
}

// promo desctop wrapper top

// promo text content

.promo__title {
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-white;
  max-width: 249px;
  text-align: center;
  margin: 0 auto 25px;

  //promo title tablet

  @media (min-width: $vp-768) {
    font-family: $ff-oswald;
    font-style: $fs-normal;
    font-weight: $fw-400;
    font-size: 60px;
    line-height: 60px;
    color: $color-default-black;
    max-width: 414px;
    margin: 0;
    text-align: start;
    margin-bottom: 41px;
  }
}

.promo__description {
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-default-white;
  text-align: center;
  margin-bottom: 29px;

  //promo description tablet

  @media (min-width: $vp-768) {
    font-family: $ff-oswald;
    font-style: $fs-normal;
    font-weight: $fw-400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-default-black;
    margin: 0;
    text-align: start;
    margin-bottom: 49px;
  }
}

//promo image product

.promo__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  //promo button tablet

  @media (min-width: $vp-768) {
    align-items: flex-start;
  }
}

//promo tablet product

@media (min-width: $vp-768) {
  .promo__product {
    display: none;

    //descktop logo wrapper
  }
}

// promo button

.promo__button {
  font-family: $ff-oswald;
  font-style: $fs-normal;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $color-default-white;
  max-width: 280px;
  height: 40px;
  background-color: $color-apple;
  padding: 7px 44px;

  //promo tablet button

  @media (min-width: $vp-768) {
    padding: 8px 26px;
    max-width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}
