.menu {
  list-style: none;
  display: none;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid $color-whisper-light;

  //tablet menu

  @media (min-width: $vp-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    min-width: 450px;
  }
}

//menu list

.menu__list {
  position: relative;
  background-color: $color-default-white;
  padding: 24px 50px 24px;
  border-top: 1px solid $color-whisper-light;

  //tablet menu list

  @media (min-width: $vp-tablet) {
    padding: 0;
    margin: 0;
    border: none;
  }

  //descktop menu list

  @media (min-width: $vp-descktop) {
    background-color: transparent;
  }
}

//menu list current

@media (min-width: $vp-tablet) {
  .menu__list--curent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: $color-apple;

    // descktop list current

    @media (min-width: $vp-descktop) {
      background-color: $color-default-white;
    }
  }
}

//descktop menu catalog current list

@media (min-width: $vp-descktop) {
  .menu__catalog .menu__list--curent::after {
    background-color: $color-apple;
  }
}

//condition menu list

.menu__list:hover {
  background-color: $color-asparagus;

  //tablet menu list condition

  @media (min-width: $vp-tablet) {
    background-color: transparent;
    opacity: 0.8;
  }
}

.menu__list:active .menu__list-item {
  background-color: $color-asparagus;
  color: $color-default-white;

  //tablet menu list condition

  @media (min-width: $vp-tablet) {
    background-color: transparent;
    color: $color-default-black;
    opacity: 0.3;
  }
}

.menu__list-item {
  display: block;
  font-family: $ff-second;
  font-style: $fs-default;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-default-black;

  //tablet menu list item

  @media (min-width: $vp-tablet) {
    font-family: $ff-second;
    font-style: $fs-default;
    font-weight: $fw-default;
    font-size: 18px;
    line-height: $flh-default;
  }

  //descktop menu list item

  @media (min-width: $vp-descktop) {
    background-color: transparent;
    font-weight: $fw-default;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: $color-default-white;
  }
}

// catalog desktop menu list item

@media (min-width: $vp-descktop) {
  .menu__list-item--black {
    color: $color-nero-black;
  }
}

.menu--opened {
  display: flex;
}

.menu--no-js {
  display: flex;
}
