.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  padding: 7px 44px;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgb(255, 255, 255, 0.3);
}
