// fonts

@font-face {
  font-family: "Lato";
  font-style: $fs-normal;
  font-weight: $fw-400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: $fs-normal;
  font-weight: $fw-400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: $fs-normal;
  font-weight: $fw-400;
  src: url("../fonts/oswald/oswald-regular/Oswald-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: $fs-normal;
  font-weight: $fw-400;
  src: url("../fonts/oswald/oswald-regular/Oswald-Regular.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: $fs-normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswald-medium/Oswald-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: $fs-normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswald-medium/Oswald-Medium.woff2") format("woff2");
  font-display: swap;
}
