.program {
  margin-bottom: 42px;
}

//program container

.program .container {
  margin-left: 20px;
  margin-right: 20px;

  //desctop program container

  @media (min-width: $vp-descktop) {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 71px;
  }
}

// descktop program wrapper blocks

@media (min-width: $vp-descktop) {
  .program__wrapper-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//program blocks

.program__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: $color-white-smoke;
  margin-bottom: 20px;

  //tablet program blocks

  @media (min-width: $vp-tablet) {
    padding: 77px 62px 57px 52px;
  }

  //descktop program blocks

  @media (min-width: $vp-descktop) {
    padding: 41px 61px 59px 52px;
    min-width: 570px;
    margin-bottom: 0;
  }
}

.program__block-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  padding: 24px 33px 22px 20px;

  //tablet program block top

  @media (min-width: $vp-tablet) {
    margin-bottom: 24px;
  }

  //descktop program block top

  @media (min-width: $vp-descktop) {
    margin-bottom: 39px;
  }
}

.program__block-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;

  //tablet program block top

  @media (min-width: $vp-tablet) {
    margin-bottom: 24px;
  }

  //descktop program block top

  @media (min-width: $vp-descktop) {
    margin-bottom: 39px;
  }
}

.program__block--revers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// program image block

.program__block-img-wrapper {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 19px;
  margin-bottom: 22px;
}

.program__img-circle {
  border-radius: 50% 50%;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  z-index: 0;
}

//program image

.program__img-slim {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -28px;

  //tablet program image

  @media (min-width: $vp-tablet) {
    position: absolute;
    right: 62px;
    top: 50%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
    margin-right: 0;
  }

  // descktop program image

  @media (min-width: $vp-descktop) {
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    left: -2px;
    margin-right: 62px;
    transform: none;
  }
}

//program image

.program__img-pro {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -13px;

  //tablet program image

  @media (min-width: $vp-tablet) {
    position: absolute;
    right: 28px;
    top: 50%;
    width: 268px;
    height: 200px;
    transform: translateY(-50%);
    margin-right: 0;
  }

  // descktop program image

  @media (min-width: $vp-descktop) {
    position: relative;
    width: 134px;
    height: 100px;
    top: 0;
    right: 0;
    left: -2px;
    margin-right: 47px;
    transform: none;
  }
}

//program block title

.program__block-title {
  font-family: $ff-second;
  font-style: $fs-default;
  font-weight: $fw-default;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-default-black;

  //tablet program block title

  @media (min-width: $vp-tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

//program block description

.program__block-description {
  position: relative;
  font-family: $ff-default;
  font-style: $fs-default;
  font-weight: $fw-default;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;
  max-width: 227px;
  margin-bottom: 19px;
  padding-bottom: 23px;

  //program block description next resposive

  @media (min-width: 321px) {
    max-width: 100%;
  }

  //tablet program block description

  @media (min-width: $vp-tablet) {
    font-size: $fsize-default;
    line-height: $flh-default;
    max-width: 335px;
    padding: 0;
    margin-bottom: 52px;
  }

  //program block description next resposive

  @media (min-width: 769px) and (max-width: 1439px) {
    max-width: 70%;
  }

  //descktop program block description

  @media (min-width: $vp-descktop) {
    max-width: 457px;
    margin-bottom: 27px;
  }
}

// program link

.program__link {
  font-family: $ff-second;
  font-style: $fs-default;
  font-weight: $fw-default;
  font-size: $fsize-default;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $color-default-black;

  // tablet program link

  @media (min-width: $vp-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

// program link condition

.program__link:hover .program__arrow {
  width: 26px;
}

.program__link:active {
  opacity: 0.5;
}

// program block arrow

.program__arrow {
  margin-left: 15px;
}

//program block description under line

.program__block-description::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 240px;
  border: 1px solid $color-gainsboro;

  //program block description under line next resposive

  @media (min-width: 321px) {
    width: 100%;
  }

  //program blocl description under line

  @media (min-width: $vp-tablet) {
    content: none;
  }
}
