.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 20px;

  //tablet logo wrapper

  @media (min-width: $vp-tablet) {
    margin: 0;
    margin-left: 30px;
  }

  //descktop logo wrapper

  @media (min-width: $vp-descktop) {
    margin-left: 0;
  }
}

//condition logo

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.logo__text:hover {
  opacity: 0.8;
}

.logo__text:active {
  opacity: 0.3;
}

// mobile second logo text

.logo__link-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% + 51px);
}

@media (min-width: $vp-tablet) {
  .logo__text {
    display: none;
  }
}
