.footer {
  display: flex;
  flex-direction: column;
  border-color: $color-default-white;
  padding: 40px 20px;

  //tablet footer

  @media (min-width: $vp-tablet) {
    padding: 57px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  //descktop footer

  @media (min-width: $vp-descktop) {
    padding: 68px 110px;
  }
}

//footer logo

.footer__logo {
  margin: 0 auto;
  margin-bottom: 40px;

  //tablet footer logo

  @media (min-width: $vp-tablet) {
    margin: 0;
  }
}

.footer .logo__link {
  margin: 0 auto;
}

.footer__logo:active {
  opacity: 0.6;
}

//footer social list

.footer__social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 49px;
  list-style: none;

  // tqblet social list

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;
  }
}

// footer lines

.footer__social-list::before {
  position: absolute;
  content: "";
  top: -30px;
  width: 281px;
  border: 1px solid $color-gainsboro;

  // tqblet lines

  @media (min-width: $vp-tablet) {
    content: none;
  }
}

.footer__social-list::after {
  position: absolute;
  content: "";
  bottom: -30px;
  width: 281px;
  border: 1px solid $color-gainsboro;

  // tqblet lines

  @media (min-width: $vp-tablet) {
    content: none;
  }
}

.footer__social-item:nth-child(1) {
  margin-right: 26px;
}

.footer__social-item:nth-child(2) {
  margin-right: 30px;
}

// footer ico condition

.footer__img {
  fill: $color-dim-gray;
}

.footer__img:hover {
  fill: $color-apple;
}

.footer__img:active {
  opacity: 0.3;
}

//footer copyright

.footer__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__link-text {
  display: inline-block;

  // tablet

  @media (min-width: $vp-tablet) {
    margin-right: 28px;
  }
}

.footer__copyright-img {
  fill: $color-dim-gray;
}

.footer__link:hover .footer__copyright-img {
  fill: $color-apple;
}

.footer__link:active .footer__copyright-img {
  opacity: 0.5;
}

.footer__link:active {
  opacity: 0.5;
}
